<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">RESERVSTER</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
    		<li>
    	<% if owner_signed_in? %>
				<%= link_to 'Log Out', destroy_owner_session_path, method: :delete %>
			<% else %>
        <%= link_to "Log in", new_owner_session_path %>
	      </li>
	      <li>
	      	<%= link_to "Sign Up", new_owner_registration_path %>
	      </li>
      <%end%>
    </ul>
  </div>
</nav>
<div class="col s8">
	<div class="row">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text" style="text-align:center;">
          <span class="card-title"><strong>RESTAURANTS</strong></span>
          <% if owner_signed_in? %>
          <p style="font-size:17px">Here you can view, edit and delete restaurants, as well as add new ones.</p>
          <% end %>
        </div>
        <% if owner_signed_in? %>
        <div class="card-action" style="text-align:center">
          <%= link_to "Add Restaurant", { action: "new" }, class: 'addRestaurant' %>
        </div>
        <% end %>
      </div>
  </div>
	<div class="row">
	<% @restaurants.each do |restaurant| %>
	<div class="col s6" style="display:inline-block">
		<div class="card">
	    <div class="card-image waves-effect waves-block waves-light">
	    	<%=
				address = restaurant.address
				address = address.split(' ').join('+')
				puts address

				i = (restaurant.id).to_s

				request = 'https://maps.googleapis.com/maps/api/staticmap?center='+address+'&zoom=16&size=800x200&markers=color:red%7Clabel:%7C'+address+'&key=AIzaSyC8XD1eo56__LnnKnOZsfozBdNSOPoup3A'

				image_tag(request)
				%>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4"><%= restaurant.name %><i class="material-icons right">more_vert</i></span>
	      <div class="card-action" style="text-align:center">
	        <%= link_to "More", {:action => :show, :id => restaurant.id}, class: 'detailRestaurant' %>
	        <% if current_owner && restaurant.owner_id == current_owner.id %>
	        	<%= link_to "Edit", {:action => :edit, :id => restaurant.id}, class: 'editRestaurant' %>
	        	<%= link_to "Delete", { action: "destroy", id: restaurant.id }, method: :delete, data: { confirm: "Are you sure?" } %>
	        <% end %>
	      </div>
        <div class="card-action" style="text-align:center">
          <%= link_to 'Make A Reservation', { controller: "reservations", action: "new", id: restaurant.id }, class: "makeReservation" %>
        </div>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4"><%= restaurant.name %><i class="material-icons right">close</i></span>
	      <p><%= restaurant.description %></p>
	    </div>
	  </div>
	</div>
	<% end %>
</div>

<div class="modal" id="add-modal" style="padding: 0px 10px 0px 10px"></div>
<div class="modal" id="edit-modal" style="padding: 0px 10px 0px 10px"></div>
<div class="modal" id="detail-view" style="padding: 10px 10px 10px 10px"></div>
<div class="modal" id="make-reservation-view" style="padding: 0px 10px 0px 10px"></div>
</div>
