<h1>Restaurants</h1>
<table>
	<tr>
		<th>Name</th>
		<th>Address</th>
		<th>Description</th>
		<th>Phone</th>
	</tr>

	<% @restaurants.each do |restaurant| %>
		<tr>
			<td><%= restaurant.name %></td>
			<td><%= restaurant.address %></td>
			<td><%= restaurant.description %></td>
			<td><%= restaurant.phone %></td>
				<td><%= link_to("Show", :controller => :restaurants, :action => :show, :id => restaurant.id) %></td>
				<td><%= link_to("Edit", :controller => :restaurants, :action => :edit, :id => restaurant.id) %></td>
				<td><%= button_to "Delete", { action: "destroy", id: restaurant.id }, method: :delete, data: { confirm: "Are you sure?" } %></td>
			</tr>
		</tr>
		<tr>
			<td colspan=4>
				<%= 
				address = restaurant.address
				address = address.split(' ').join('+')
				puts address

				i = (restaurant.id).to_s

				request = 'https://maps.googleapis.com/maps/api/staticmap?center='+address+'&zoom=16&size=800x200&markers=color:blue%7Clabel:'+i+'%7C'+address+'&key=AIzaSyC8XD1eo56__LnnKnOZsfozBdNSOPoup3A'

				image_tag(request) 
				%>
			</td>
		</tr>
	<% end %>
	<tr>
		<td><%= link_to("Add Restaurant", :controller => :restaurants, :action => :new) %></td>
	</tr>
</table>
