<div>
	<%= link_to "Back", { action: "index" }, :class => "waves-effect waves-light btn-large red darken-2" %>
</div>
<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-image">
        <%= 
				address = @restaurant.address
				address = address.split(' ').join('+')
				puts address

				i = (@restaurant.id).to_s

				request = 'https://maps.googleapis.com/maps/api/staticmap?center='+address+'&zoom=16&size=800x200&markers=color:blue%7Clabel:%7C'+address+'&key=AIzaSyC8XD1eo56__LnnKnOZsfozBdNSOPoup3A'

				image_tag(request) 
				%>
      </div>
      <div class="card-content">
      	<span class="card-title"><%= @restaurant.name %></span>
      	<p><%= @restaurant.phone %></p>
				<p><%= @restaurant.address %></p>
        <p><%= @restaurant.description %></p>
      </div>
      <div class="card-action">
        <a><%= link_to("Edit", :controller => :restaurants, :action => :edit, :id => @restaurant.id) %></a>
        <a><%= link_to "Delete", { action: "destroy", id: @restaurant.id }, method: :delete, data: { confirm: "Are you sure?" } %></a>
      </div>
    </div>
  </div>
</div>