
<div style="margin:auto; width: 600px">
	<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">RESERVSTER</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
    </ul>
  </div>
</nav>
	<div class="card blue-grey darken-1">
	  <div class="card-content white-text" style="text-align:center;">
	    <span class="card-title"><strong>LOG IN</strong></span>
	  </div>
	</div>
	<div class="card">
		<div class="card-content">
		<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		  <div class="form-inputs">
		    <%= f.input :email, required: false, autofocus: true %>
		    <%= f.input :password, required: false %>
		    <span style="float:right"><%= link_to "Forgot your password?", new_password_path(resource_name), class: "forgotPasswordBtn" %></span>
		    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %></br>
		  </div>
		  
		  <div class="form-actions" style="text-align:center">
		    <a class="waves-effect waves-light btn-large"><%= f.button :submit, "Log in" %></a></br>
		  </div>
		<% end %>
			<div style="text-align:center; margin-top:10px">
				<%= link_to "Sign up", new_registration_path(resource_name) %>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="forgotPasswordModal"></div>

<script>
/*
	$(document).ready(function(){
		$('.forgotPasswordBtn').click(function(e){
			e.preventDefault();
			var url = ($(this).attr('href'));
			$.ajax({
			  url: url,
			  success: function(response){
			  	$('#forgotPasswordModal').html(response);
			  	$('#forgotPasswordModal').openModal();
			  }
			});
			return false;
		});
	});
*/
</script>



